.body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.break {
    height: 30px;
}

.space {
    height: 100px;
}

.content {
    text-align: justify;
    color: white;
    padding: 20px;
    max-width: 800px;
    transform: translateY(-30px); /* Moves content slightly up */
}

.heading {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.intro {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    line-height: 1.6;
}

.skills-list {
    margin-top: 20px;
}

.skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.skill-name {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin-right: 20px; /* Adds some space between the skill name and the progress bar */
}

.progress-bar {
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    width: 60%; /* Adjust the width as needed */
}

.progress {
    background-color: gold;
    height: 10px;
    border-radius: 5px;
    width: 0; /* Start with 0 width */
    transition: width 2s ease-in-out; /* Smooth transition for the animation */
}

/* Animation class */
.animate .progress {
    width: var(--progress-width); /* Use CSS variable to set the final width */
}