.body {
    height: 60vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.body .space{
    height: 80px;
}
.card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.card h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
}